<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :send_due_date_reminder, style: "display: block" %>
    <%= form.check_box :send_due_date_reminder %>
  </div>

  <div>
    <%= form.label :due_date_reminder_time, style: "display: block" %>
    <%= form.time_field :due_date_reminder_time %>
  </div>

  <div>
    <%= form.label :due_date_reminder_interval, style: "display: block" %>
    <%= form.number_field :due_date_reminder_interval %>
  </div>

  <div>
    <%= form.label :timezone, style: "display: block" %>
    <%= form.text_field :timezone %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
